.ui-fileupload-content {
    display: none;
}

.ui-fileupload-buttonbar {
    border: none;
    background: none;
    padding: 0;
}

.ui-fileupload-buttonbar .ui-button {
    margin-right: 0.1em;
    vertical-align: initial;
}

.ui-fileupload-buttonbar .ui-button .ui-icon {
    display: none;
}

.ui-fileupload-buttonbar .ui-button .ui-button-text {
    padding: 0.3em 1em
}

.ui-fileupload-choose {
    overflow: visible;
}

.ui-fileupload {
    display: inline-block;
}

.ui-tabs-panels {
    border: #b9b9b9 solid 1px;
}